@using AppHelpers.App_Code

@{
    foreach (var item in Model)
    {
        <div class="col-sm-6 col-lg-4 mb-4 new-arrivals-img" data-aos="fade-up">
            <div class="block-4 text-center border">
                <figure class="block-4-image">
                    <a href="~/Shop/Details/@item.UniqueProductName">
                        <img src="~/images/@ProductsHelper.GetProductImageLink(item.AccountID, item.ID)" alt="@item.ProductName" class="img-fluid">
                    </a>
                </figure>
                <div class="block-4-text p-4">
                    <h3><a href="~/Shop/Details/@item.UniqueProductName">@item.ProductName</a></h3>
                    <p class="mb-0">@TextHelper.FormatLongText(item.ProductDescription, 40)</p>
                    <p class="text-primary font-weight-bold">GMD @item.ProductPrice</p>
                </div>
            </div>
        </div>
    }
}

