@{
    ViewData["Parent"] = "";

    ViewData["Title"] = "Shop";
}

<header class="site-navbar" role="banner">
    <!-- //Top menu item -->
    @await Html.PartialAsync("~/Views/Shared/NavLayout/_NavBarTop.cshtml")


    <!-- //Navigation menu -->
    @await Html.PartialAsync("~/Views/Shared/NavLayout/_SiteNavigation.cshtml")
</header>


<!-- //Breadcrump -->
@await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")

<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row">
                    <!-- //Shopping Sort By -->
                    @await Html.PartialAsync("~/Views/Shared/Shop/_SortBy.cshtml")
                </div>

                <div class="row mb-5">
                    <!-- //Shopping Products List -->
                    @await Html.PartialAsync("~/Views/Shared/Shop/_Products.cshtml")
                </div>


                <div class="row" data-aos="fade-up">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li>
                                    @if (ViewBag.Page > 0)
                                    {
                                        <a class="active" href="@Url.Action("Index", new { page = ViewBag.Page - 1 })">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="disabled">
                                            <i class="fas fa-chevron-left disabled"></i>
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (ViewBag.Page < ViewBag.MaxPage)
                                    {
                                        <a class="active" href="@Url.Action("Index", new { page = ViewBag.Page + 1 })">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="disabled">
                                            <i class="fas fa-chevron-right disabled"></i>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="border p-4 rounded mb-4">
                    <!-- //Shop Categories -->
                    @await Html.PartialAsync("~/Views/Shared/Shop/_CategoriesLeft.cshtml")
                </div>

                <div class="border p-4 rounded mb-4">
                    <!-- //Shop Filters -->
                    @await Html.PartialAsync("~/Views/Shared/Shop/_FiltersLeft.cshtml")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="site-section site-blocks-2">
                    <div class="row">
                        <!-- //Shopping categories -->
                        @await Html.PartialAsync("~/Views/Shared/HomeBody/_HomeCollections.cshtml")
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
