@{
    ViewData["Title"] = "Home Page";
}

<!-- Account Style CSS -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountStyle.cshtml")


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/AccountLayout/_LeftSideBar.cshtml")
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- //Top menu item -->
        @await Html.PartialAsync("~/Views/Shared/AccountLayout/_NavBarTop.cshtml")


        <div class="container-fluid">
            <h1 class="mt-4">
                Dashboard
            </h1>
            <div class="row">
                <div class="col main pt-0 mt-3">
                    <p class="lead d-none d-sm-block">
                        Manage dashboard
                    </p>
                    <div class="row mb-3">
                        <div class="col-xl-3 col-sm-6 py-2">
                            <a href="~/Account/Profile" style="">
                                <div class="card bg-success text-white h-100">
                                    <div class="card-body bg-success">
                                        <div class="rotate">
                                            <i class="fas fa-user fa-4x"></i>
                                        </div>
                                        <h4 class="text-uppercase">Profile</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-sm-6 py-2">
                            <a href="~/Account/ManagePosts" style="">
                                <div class="card text-white bg-danger h-100">
                                    <div class="card-body bg-danger">
                                        <div class="rotate">
                                            <i class="fas fa-list fa-4x"></i>
                                        </div>
                                        <h4 class="text-uppercase">Product Posts</h4>
                                        <h1 class="display-4">
                                            @ViewBag.TotalProducts
                                        </h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-sm-6 py-2">
                            <a href="~/Account/Orders" style="">
                                <div class="card text-white bg-info h-100">
                                    <div class="card-body bg-info">
                                        <div class="rotate">
                                            <i class="fas fa-chart-bar fa-4x"></i>
                                        </div>
                                        <h4 class="text-uppercase">Orders</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-sm-6 py-2">
                            <a href="~/Account/Settings" style="">
                                <div class="card text-white bg-warning h-100">
                                    <div class="card-body">
                                        <div class="rotate">
                                            <i class="fa fa-cogs fa-4x"></i>
                                        </div>
                                        <h4 class="text-uppercase">Settings</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--/main col-->
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>


<!-- Account Modals -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountModals.cshtml")