@model net_shop_core.Models.ProductsModel
@using AppHelpers.App_Code
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Add Product Sizes";
}

<!-- Account Style CSS -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountStyle.cshtml")


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/AccountLayout/_LeftSideBar.cshtml")
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- //Top menu item -->
        @await Html.PartialAsync("~/Views/Shared/AccountLayout/_NavBarTop.cshtml")


        <div class="container-fluid">
            <h1 class="mt-4">
                Update Product Stock for @Model.ProductName
            </h1>

            <!--//Action Messages-->
            @await Html.PartialAsync("~/Views/Shared/_ProcessMessage.cshtml")

            <div class="row">
                <div class="col-sm-12">
                    <form asp-controller="Account" asp-action="UpdateProductStock" id="ValidateForm" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row jumbotron border border-dark m-2">

                            <div class="col-sm-12 col-md-6 form-group">
                                <label for="NumberInStock" class="font-weight-bold h5">Product Number in Stock</label>
                                <input name="NumberInStock" id="NumberInStock" class="form-control integer-plus-only" value="@ProductsHelper.GetCurrentProductStock(Model.ProductID)" required>
                            </div>

                            <div class="col-sm-12 form-group d-none">
                                <input type="hidden" id="ProductID" name="ProductID" value="@Model.ProductID" required>
                            </div>

                            <div class="col-sm-12 form-group">
                                <div class="row">
                                    <div class="col-3 offset-9">
                                        <a href="~/Account/ManagePosts" class="btn btn-danger m-3">
                                            <i class="fas fa-chevron-left"></i> Cancel
                                        </a>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-pencil-alt"></i> Update
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>


<!-- Account Modals -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountModals.cshtml")