@{
    ViewData["Parent"] = "Collections";

    var url_path = Context.Request.Host+Context.Request.Path; //get current url path
    var title = url_path.Substring(url_path.LastIndexOf("/") + 1); //get last test after slash in url

    ViewData["Title"] = title;
}

<header class="site-navbar" role="banner">
    <!-- //Top menu item -->
    @await Html.PartialAsync("~/Views/Shared/NavLayout/_NavBarTop.cshtml")
        
    <!-- //Navigation menu -->
    @await Html.PartialAsync("~/Views/Shared/NavLayout/_SiteNavigation.cshtml")
</header>

<!-- //Breadcrump -->
@await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3 text-center text-uppercase text-black d-block">@ViewData["Title"]</h2>
                <div class="site-section site-blocks-2">
                    <div class="row">
                        <!-- //Shopping categories -->
                        @await Html.PartialAsync("~/Views/Shared/CollectionsBody/_CategoryList.cshtml")
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @if (ViewBag.Page > 0)
                {
                    <a href="@Url.Action("Category", new { page = ViewBag.Page - 1 })"
                       class="btn btn-primary" style="float:left;">
                        <i class="fas fa-chevron-left"></i>
                        Prev
                    </a>
                }
            </div>
            <div class="col-md-6">
                @if (ViewBag.Page < ViewBag.MaxPage)
                {
                    <a href="@Url.Action("Category", new { page = ViewBag.Page + 1 })"
                       class="btn btn-primary" style="float:right;">
                        Next
                        <i class="fas fa-chevron-right"></i>
                    </a>
                }
            </div>
        </div>

    </div>
</div>
