@import "bourbon";

body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    .form-signin-heading, .checkbox;
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-sign-in {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus;
    z-index: 2;
}


/* Dashboard Forms */
/*////////////////////////////////////////////////////////////*/
.rounded-border {
    border-radius: 25px;
    border: 2px solid #808080;
    padding: 20px;
}




/* Colored Checkbox */
/*////////////////////////////////////////////////////////////*/
body {
    font-size: 15px;
    background-color: #f5f5f5;
}

.colored-check form {
    width: 33%;
    padding: 10px;
}

form fieldset legend {
    font-size: 1.5rem;
}
/* ---- checkbox area ---- */
.black-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #000;
    border-color: #000;
    background-size: 80%;
}

.lime-green-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #32cd32;
    border-color: #32cd32;
    background-size: 80%;
}

.silver-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    background-size: 80%;
}

.blue-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #0000ff;
    border-color: #0000ff;
    background-size: 80%;
}

.maroon-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #800000;
    border-color: #800000;
    background-size: 80%;
}

.brown-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #654321;
    border-color: #654321;
    background-size: 80%;
}

.khaki-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #c3b091;
    border-color: #c3b091;
    background-size: 80%;
}

.orange-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: #ffa500;
    border-color: #ffa500;
    background-size: 80%;
}

.fill-control-input {
    display: none;
}



.fill-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: .3s;
    background: transperent;
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}



/* Multiple Image Uploader */
/*////////////////////////////////////////////////////////////*/
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}

.upload-btn-primary {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}






/* Radio Color Picker */
/*////////////////////////////////////////////////////////////*/
    .radio-input [type="radio"] {
        display: none;
    }


    .radio-input label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    }

    .radio-input label:hover span {
        transform: scale(1.25);
    }

    .radio-input label span {
        display: block;
        width: 100%;
        height: 100%;
        transition: transform .2s ease-in-out;
    }

    .radio-input label span.red {
        background: #DB2828;
        border: 2px solid #8B0000;
    }

    .radio-input label span.orange {
        background: #F2711C;
        border: 2px solid #FF8C00;
    }

    .radio-input label span.black {
        background: #000000;
        border: 2px solid #2F4F4F;
    }

    .radio-input label span.yellow {
        background: #FBBD08;
        border: 2px solid #DAA520;
    }

    .radio-input label span.olive {
        background: #B5CC18;
        border: 2px solid #6B8E23;
    }

    .radio-input label span.green {
        background: #21BA45;
        border: 2px solid #3CB371;
    }

    .radio-input label span.teal {
        background: #00B5AD;
        border: 2px solid #008080;
    }

    .radio-input label span.blue {
        background: #2185D0;
        border: 2px solid #4682B4;
    }

    .radio-input label span.violet {
        background: #6435C9;
        border: 2px solid #8A2BE2;
    }

    .radio-input label span.purple {
        background: #A333C8;
        border: 2px solid #9370DB;
    }

    .radio-input label span.pink {
        background: #E03997;
        border: 2px solid #FF69B4;
    }

    .radio-input label span.gold {
        background: #FFD700;
        border: 2px solid #DAA520;
    }

    .radio-input label span.white {
        background: #F5F5F5;
        border: 2px solid #F0FFF0;
    }

    .radio-input label span.cream {
        background: #F5FFFA;
        border: 2px solid #FFF5EE;
    }

    .radio-input label span.brown {
        background: #A0522D;
        border: 2px solid #8B4513;
    }

    .radio-input label span.gray {
        background: #708090;
        border: 2px solid #C0C0C0;
    }

    .radio-input label span.grey {
        background: #708090;
        border: 2px solid #C0C0C0;
    }



/* Site images */
/*////////////////////////////////////////////////////////////*/
.home-collections-img img {
    height: 460px !important;
    width: 352px !important;
}

.home-featured-img img {
    height: 380px !important;
    width: 350px !important;
}

.shop-img img {
    height: 278px !important;
    width: 254px !important;
}

.new-arrivals-img img {
    height: 380px !important;
    width: 350px !important;
}


/* Zoom Image In And Out */
/*////////////////////////////////////////////////////////////*/
.zoom-xm, .zoom-sm, .zoom, .zoom-lg {
    transition: transform .2s; /* Animation */
}

.zoom-xm:hover {
    transform: scale(1.01); /* (101% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom-sm:hover {
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom:hover {
    transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom-lg:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* Center modal on screen */
/*////////////////////////////////////////////////////////////*/
.modal-dialog-center {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

    @media(max-width: 768px) {
        min-height: calc(100vh - 20px);
    }
}


/* Jquery Validation Error Style */
/*////////////////////////////////////////////////////////////*/
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 1px 20px 1px 20px;
}


/* Style select option bg to dark */
.custom-select * {
    /* bg-dark style */
    background-color: #343a40 !important;
    color: #fff !important;
}


/* Adding Custom Bootstrap Background and Color Classes */
/*////////////////////////////////////////////////////////////*/
.bg-cream {
    background-color: #fffdd0 !important;
}
a.bg-cream:hover, a.bg-cream:focus,
button.bg-cream:hover,
button.bg-cream:focus {
    background-color: #faf8c5 !important;
}
.text-cream {
    color: #faf8c5 !important;
}


.bg-pink {
    background-color: #ffc0cb !important;
}
a.bg-pink:hover, a.bg-cream:focus,
button.bg-pink:hover,
button.bg-pink:focus {
    background-color: #f5abb8 !important;
}
.text-pink {
    color: #f5abb8 !important;
}


.bg-brown {
    background-color: #8b4513 !important;
}
a.bg-brown:hover, a.bg-cream:focus,
button.bg-brown:hover,
button.bg-brown:focus {
    background-color: #7d3d0f !important;
}
.text-brown {
    color: #7d3d0f !important;
}



.bg-purple {
    background-color: #9370db !important;
}
a.bg-purple:hover, a.bg-cream:focus,
button.bg-purple:hover,
button.bg-purple:focus {
    background-color: #663399 !important;
}
.text-purple {
    color: #663399 !important;
}


.bg-orange {
    background-color: #ff8C00 !important;
}
a.bg-orange:hover, a.bg-cream:focus,
button.bg-orange:hover,
button.bg-orange:focus {
    background-color: #ffa500 !important;
}
.text-orange {
    color: #ffa500 !important;
}


.bg-yellow {
    background-color: #ffff00 !important;
}
a.bg-yellow:hover, a.bg-cream:focus,
button.bg-yellow:hover,
button.bg-yellow:focus {
    background-color: #f2f202 !important;
}
.text-yellow {
    color: #f2f202 !important;
}


.bg-gold {
    background-color: #ffd700 !important;
}
a.bg-gold:hover, a.bg-cream:focus,
button.bg-gold:hover,
button.bg-gold:focus {
    background-color: #f5cf02 !important;
}
.text-gold {
    color: #f5cf02 !important;
}


.bg-olive {
    background-color: #B5CC18 !important;
}
a.bg-olive:hover, a.bg-cream:focus,
button.bg-olive:hover,
button.bg-olive:focus {
    background-color: #DAA520 !important;
}
.text-olive {
    color: #DAA520 !important;
}


.bg-teal {
    background-color: #00B5AD !important;
}
a.bg-teal:hover, a.bg-cream:focus,
button.bg-teal:hover,
button.bg-teal:focus {
    background-color: #008080 !important;
}
.text-teal {
    color: #008080 !important;
}


.bg-violet {
    background-color: #6435C9 !important;
}
a.bg-violet:hover, a.bg-cream:focus,
button.bg-violet:hover,
button.bg-violet:focus {
    background-color: #8A2BE2 !important;
}
.text-violet {
    color: #6435C9 !important;
}


.bg-gray {
    background-color: #708090 !important;
}
a.bg-gray:hover, a.bg-cream:focus,
button.bg-gray:hover,
button.bg-gray:focus {
    background-color: #C0C0C0 !important;
}
.text-gray {
    color: #C0C0C0 !important;
}


.bg-grey {
    background-color: #708090 !important;
}
a.bg-grey:hover, a.bg-cream:focus,
button.bg-grey:hover,
button.bg-grey:focus {
    background-color: #C0C0C0 !important;
}
.text-grey {
    color: #C0C0C0 !important;
}


/* text border */
.text-bordered {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}





/* Mobile Responsive Design */
/*////////////////////////////////////////////////////////////*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}