 <!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Account Dashboard </div>
    <div class="list-group list-group-flush">
        <a href="~/Account" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="~/Account/NewPost" class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus"></i> New Post</a>
        <a href="~/Account/ManagePosts" class="list-group-item list-group-item-action bg-light"><i class="fas fa-list"></i> Manage Posts</a>
        <a href="~/Account/ManageStores" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tasks"></i> Manage Stores</a>
        <a href="~/Account/Profile" class="list-group-item list-group-item-action bg-light"><i class="far fa-user"></i> Profile</a>
        <a href="~/Account/Settings" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cogs"></i> Settings</a>
    </div>
</div>