@model IEnumerable<ModestLiving.Models.ProductsModel>

@{
    ViewData["Parent"] = "";
    ViewData["Title"] = "New Arrivals";
}

<header class="site-navbar" role="banner">
    <!-- //Top menu item -->
    @await Html.PartialAsync("~/Views/Shared/NavLayout/_NavBarTop.cshtml")


    <!-- //Navigation menu -->
    @await Html.PartialAsync("~/Views/Shared/NavLayout/_SiteNavigation.cshtml")
</header>


<!-- //Breadcrump -->
@await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")


<div class="site-section">
    <div class="container">
        <h2 class="mb-3 text-center text-uppercase text-black d-block">New Arrivals</h2>
        <div class="row">
            <!-- //New Arrivals-->
            @await Html.PartialAsync("~/Views/Shared/NewArrivals/_ProductList.cshtml")
        </div>

        <div class="row">
            <div class="col-md-6">
                @if (ViewBag.Page > 0)
                {
                    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
                       class="btn btn-primary" style="float:left;">
                        <i class="fas fa-chevron-left"></i>
                        Prev
                    </a>
                }
            </div>
            <div class="col-md-6">
                @if (ViewBag.Page < ViewBag.MaxPage)
                {
                    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
                       class="btn btn-primary" style="float:right;">
                        Next
                        <i class="fas fa-chevron-right"></i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

