    <!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Dashboard </div>
    <div class="list-group list-group-flush">
        <a href="~/AccountStore" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="~/AccountStore/NewPost" class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus"></i> NewPost</a>
        <a href="~/AccountStore/ManagePosts" class="list-group-item list-group-item-action bg-light"><i class="fas fa-list"></i> Manage Posts</a>
        <a href="~/AccountStore" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tasks"></i> Manage Stores</a>
        <a href="~/AccountStore" class="list-group-item list-group-item-action bg-light"><i class="far fa-user"></i> Profile</a>
        <a href="~/AccountStore" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cogs"></i> Settings</a>
    </div>
</div>