@{
    ViewData["Title"] = "Home Page";
}

<script>
    $(function () {
        $('#newProductForm').on('keydown', '#product_price, #precious_price, #number_in_stock, #whole_sale_quantity', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    })

    //description counter
    const max = 500;
    function countCharDescription(val) {
        const len = val.value.length;
        if (len >= max) {
            val.value = val.value.substring(0, max);
        } else {
            $('#charNumDescription').text((max - len) + " Remaining");
        }
    };

    //Limit file upload buttons to n number
    function checkUpLimit() {
        const totalNum = $('.uploadFile').length;
        if(totalNum > 3){
            $('.imgAdd').css({pointerEvents: "none"});

            $('#add-image').removeClass('fa fa-plus');
            $('#add-image').addClass('fas fa-location-slash text-danger');
        }
        else{
            $('#add-image').removeClass('fas fa-location-slash text-danger');
            $('#add-image').addClass('fa fa-plus');
        }
    }

    //check if whole sale, enable whole sale quantity
    $(document).ready(function(){
        $('#product_type').click(function(){
            if($(this).prop("checked") == true){
                $("#whole_sale_quantity").prop('disabled',false);
                $("#whole_sale_quantity").prop('required',true);
            }
            else if($(this).prop("checked") == false){
                $("#whole_sale_quantity").prop('disabled',true);
                $("#whole_sale_quantity").prop('required',false);
            }
        });
    });
</script>



<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/AdminLayout/_LeftSideBar.cshtml")
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- //Top menu item -->
        @await Html.PartialAsync("~/Views/Shared/AdminLayout/_NavBarTop.cshtml")


        <div class="container-fluid">
            <h1 class="mt-4">
                Dashboard
            </h1>

            <div class="row justify-content-center mb-4">
                <div class="col-md-12">
                    <span class="anchor" id="formComplex"></span>
                    <hr class="my-5">
                    <!-- form complex example -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">New Post</h3>
                        </div>
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-sm-4 pb-3">
                                    <label for="exampleAccount">Product Name</label>
                                    <input class="form-control" name="ProductName" id="ProductName" placeholder="Product Name" type="text">
                                </div>
                                <div class="col-sm-3 pb-3">
                                    <label for="Type">Type</label>
                                    <select class="form-control custom-select" name="ProductType" id="ProductType">
                                        <option class="text-white bg-warning">
                                            Whole Sale
                                        </option>
                                        <option value="AL">
                                            Retail
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-1 pb-3">
                                    <label for="exampleAccount">Quantity</label>
                                    <input class="form-control" name="WholeSaleQuantity" id="WholeSaleQuantity" placeholder="Total" type="text" readonly>
                                </div>
                                <div class="col-sm-2 pb-3">
                                    <label for="exampleAmount">Price</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            $
                                        </div>
                                        <input class="form-control" name="Price" id="Price" placeholder="Amount" type="number">
                                    </div>
                                </div>
                                <div class="col-sm-2 pb-3">
                                    <label for="exampleAmount">Previous Price</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            $
                                        </div>
                                        <input class="form-control" name="PreviousPrice" id="PreviousPrice" placeholder="Amount" type="number">
                                    </div>
                                </div>
                                <div class="col-sm-3 pb-3">
                                    <label for="Store">Store</label>
                                    <select class="form-control custom-select" id="exampleSt">
                                        <option class="text-white bg-warning">
                                            Banjul
                                        </option>
                                        <option value="AL">
                                            Serrekunda
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3 pb-3">
                                    <label for="Category">Category</label>
                                    <select class="form-control custom-select" id="exampleSt">
                                        <option class="text-white bg-warning">
                                            Hijab
                                        </option>
                                        <option value="AL">
                                            Abaya
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-6 pb-3">
                                    <label for="exampleLast">Tags <small>seperate by comma</small></label>
                                    <input class="form-control" name="ProductTags" id="ProductTags" type="text">
                                </div>
                                <div class="col-md-6 pb-3">
                                    <label for="exampleAccount">Product Colors</label>
                                    <div class="row ml-1">
                                        <label class="custom-control black-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Black</span>
                                        </label>
                                        <label class="custom-control lime-green-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Lime Green</span>
                                        </label>
                                        <label class="custom-control silver-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Silver</span>
                                        </label>
                                        <label class="custom-control blue-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Blue</span>
                                        </label>
                                        <label class="custom-control maroon-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Maroon</span>
                                        </label>
                                        <label class="custom-control brown-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Brown</span>
                                        </label>
                                        <label class="custom-control khaki-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Khaki</span>
                                        </label>
                                        <label class="custom-control orange-checkbox mr-1">
                                            <input type="checkbox" class="fill-control-input">
                                            <span class="fill-control-indicator"></span>
                                            <span class="fill-control-description">Orange</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 pb-3">
                                    <label for="exampleAccount">Product Size</label>
                                    <br />
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-secondary m-1">
                                            <input autocomplete="off" id="blue" name="options" type="checkbox">
                                            Small
                                        </label>
                                        <label class="btn btn-secondary m-1">
                                            <input autocomplete="off" id="red" name="options" type="checkbox">
                                            Medium
                                        </label>
                                        <label class="btn btn-secondary m-1">
                                            <input autocomplete="off" id="green" name="options" type="checkbox">
                                            Large
                                        </label>
                                        <label class="btn btn-secondary m-1">
                                            <input autocomplete="off" id="yellow" name="options" type="checkbox">
                                            Extra Large
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12 pb-3">
                                    <label for="exampleMessage">Product Description</label>
                                    <textarea class="form-control" id="complexExampleMessage" rows="3"></textarea>
                                    <small class="text-muted">Add product description here.</small>
                                </div>

                                <br><div class="container">
                                    <label>Product Images</label>
                                    <div class="row">
                                        <div class="col-sm-2 imgUp">
                                            <div class="imagePreview"></div>
                                            <label class="btn btn-primary upload-btn-primary">
                                                Upload<input type="file" class="uploadFile img" name="ProductImages" id="ProductImages" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                        </div><!-- col-2 -->
                                        <i class="fa fa-plus imgAdd" onclick="checkUpLimit()" id="add-image"></i>
                                    </div><!-- row -->
                                </div><!-- container -->
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-right">
                                <input class="btn btn-secondary" type="reset" value="Cancel">
                                <input class="btn btn-primary" type="button" value="Send">
                            </div>
                        </div>
                    </div><!--/card-->
                </div>
            </div><!--/row-->
        </div>

    </div>

<script>
    $("#newProductForm").validate();
</script>

</div>