@{
    ViewData["Parent"] = "";
    ViewData["Title"] = "Sign In";
}

<!-- //Breadcrump -->
@await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")



<div class="wrapper">
    <form class="form-signin" asp-controller="Auth" asp-action="Login" method="post">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" autofocus="" />
        <br />
        <input type="password" class="form-control form-sign-in" name="password" placeholder="Password" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>