@model net_shop_core.Models.LoginViewModel

@{
    ViewData["Parent-0"] = "";
    ViewData["Parent-1"] = "";
    ViewData["Title"] = "Sign In";
}
<script>
    //TODO Remove auto login
    $(document).ready(function () {
        setTimeout(
            function () {
                //auto login
                if ($.session.get('ShoppingCart') != "1") {
                    $("#Email").val("abliekassama@yahoo.com");
                    $("#Password").val("#Ablie1");
                    $.session.set('AutoLogin', "1");
                    $('button#SubmitButton').click();
                }
            }, 1000);
    });

</script>

<!-- //Breadcrump -->
@await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")


<!--//Action Messages-->
@await Html.PartialAsync("~/Views/Shared/_ProcessMessage.cshtml")

<div class="wrapper">
    <form class="form-signin" asp-controller="SignIn" asp-action="Index" id="signIn" method="post">
        <h2 class="form-signin-heading">Please Sign-In</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Email" class="form-control" placeholder="Email Address" autofocus="" required>
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />
        <input asp-for="Password" class="form-control form-sign-in" placeholder="Password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" id="SubmitButton" name="SubmitButton" type="submit">Sign-In</button>
        <br />
        <p>
            Don't have an account yet? <a href="~/SignUp" class="text-dark font-weight-bold no-ul">Create an account</a>
        </p>
    </form>
    <script>
        $("#signIn").validate();
    </script>
</div>